@import url("https://cdn.fontcdn.ir/Font/Persian/Lotus/Lotus.css");

li {
    float: right;
    display: block;
    padding: 4px;
    
  } 
  

  #logo{
    margin-left: 40px;
  }

  a {
    text-decoration: none;
    color: green;
  }
  
  a.contact{
    text-decoration: none;
    color: white;
  }
  
  a:hover {
    background-color: white;
    border-radius: 3px;
    padding: 5px;
  }
  
  a.contact:hover {
    background-color: black;
    padding: 0px;
  }

body {
  direction: rtl;
  font-family: "Lotus", sans-serif;
  margin: 0;
  overflow: auto
}

.header {
  width: 100%;
  height: 3em;
  background-color: #fff;
  border-bottom: 1px solid #dddddd;
  position: fixed;
  z-index: 1;
}

.holder {
  width: 80%;
  margin: auto;
}

.main-nav {
  float: right;
  width: auto;
}

.main-nav ul,
.nav-icons ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-nav ul li,
.nav-icons ul li {
  display: inline-block;
  line-height: 3em;
}

.main-nav ul li a {
  text-decoration: none;
  color: #666;
  font-weight: bold;
  font-size: 1.2em;
  padding: 10px 15px;
  line-height: 3em;
  transition: all 0.3s ease-out;
}

.main-nav ul li a:hover {
  color: #000;
}

.nav-icons {
  float: left;
  width: auto;
  height: 3em;
  border-right: 1px solid #eeeeee;
  padding-right: 8px;
}

.nav-icons li i,
.mobile-menu i {
  cursor: pointer;
  font-size: 1.5em;
  margin: 0 10px;
  display: inline-block;
  vertical-align: middle;
  filter: opacity(60%);
  transition: all 0.3s ease-out;
}

.nav-icons li i:hover,
.mobile-menu i:hover {
  filter: opacity(100%);
}

.mobile-menu {
  display: none;
  line-height: 3em;
}

.active {
  color: #000 !important;
}

.content {
  width: 80%;
  margin: auto;
}

.content h1,
.writer {
  text-align: center;
}

.writer img {
  width: 10em;
  height: auto;
  clip-path: circle();
}

.writer h3 {
  font-weight: bold;
  margin: 0;
}

.article {
  font-size: 1.5em;
  text-align: left;
}

.article img {
  width: 100%;
}

@media screen and (max-width: 700px) {
  .content,
  .holder {
    width: 95%;
  }
  .main-nav ul {
    display: none;
  }
  .mobile-menu {
    display: inline-block;
  }
}

/* Dark styles */

body.dark {
  background-color: #252525;
  color: rgba(255, 255, 255, 0.9);
  font-weight: lighter;
}

body.dark .header {
  background-color: #252525;
  border-bottom: 1px solid #555555;
}

body.dark .main-nav ul li a,
body.dark .main-nav ul li i {
  color: #777;
}

body.dark .main-nav ul li a:hover {
  color: #ccc;
}

body.dark .active {
  color: #ccc !important;
}

body.dark .nav-icons {
  border-right: 1px solid #555555;
}

body.dark img {
  filter: brightness(0.8) contrast(1.2);
}
