 body { 
    font-family: 'Montserrat', sans-serif;
  }
  
/* ul {
  list-style-type: none;
  overflow: hidden;
  margin-right: 20px;
  } */

li {
  float: right;
  display: block;
  padding: 4px;
  
} 

a {
  text-decoration: none;
  color: green;
}

a.contact{
  text-decoration: none;
  color: white;
}

a:hover {
  background-color: white;
  border-radius: 3px;
  padding: 5px;
}

a.contact:hover {
  background-color: black;
  padding: 0px;
}

.slide {
  animation-name: slide;
  animation-duration: 2s;
  visibility: visible;
  width: 50%;
  overflow: hidden;
  animation-fill-mode: forwards;
}

.appear {
  animation-name: appear;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes slide {
  0% {
    opacity: 0;
    margin-left: 20%;
  }
  100% {
    opacity: 1;
    margin-left: 40%;
  }
}

@keyframes appear {
  0% { opacity: 0;}
  100% { opacity: 1;}
}

.parallax {
  background-image: url(imgs/we_are.png);
  height: 100%;
  width: 100%;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#text{
  margin-top: 17%;
  font-size:50px;
}


#logo{
  margin-left: 40px;
}

#text2
{
  font-size:25px;
  margin-left: 55%;
}

#about{
  margin:5px;
  padding:30px;
 /* border: 5px solid rgb(31, 194, 26); */
 border-width: 5px;
}
@media screen and (max-height:1100px){
#weare{
  font-size: 60px;
  position: absolute;
  top: 160%;
  left:40%;
}
#ourevents{
  font-size: 60px;
  position: absolute;
  top:365%;
  left:37%;
}
#ourteam{
  font-size: 60px;
  position: absolute;
  top:575%;
  left:40%;
} }
@media screen and (min-height:1100px){
  #weare{
    font-size: 80px;
    position: absolute;
    top: 90%;
    left:30%;
   } 
   #ourevents{
    font-size: 80px;
    position: absolute;
    top:250%;
    left:23%;
  }
 }
 #ourteam{
  font-size: 80px;
  position: absolute;
  top:507%;
  left:36%;
  color: red;
}
  @media screen and (max-height:1050px) and (max-width:770px){
    #weare{
      font-size: 70px;
      position: absolute;
      top: 105%;
      left:30%;
     }
     #ourevents{
      font-size: 70px;
      position: absolute;
      top:310%;
      left:20%;
    }
    #ourteam{
      font-size: 70px;
      position: absolute;
      top:510%;
      left:25%;
    } }
#cycle{
  height: 340px;
  width: 340px;
  margin: 50px;
}

#cyctext{
  margin-top: 15px;
  font-size: 20px;
}

@media screen and (max-width: 450px) {
  li{
    text-align: center;
    margin: -8px;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      margin-left: 10%;
    }
    100% {
      opacity: 1;
      margin-left: 25%;
    }
  }
  .slide{
    width:70%;
  }
  #text{
    margin-top: 70px;
    font-size: 35px;
    color: aqua;
    margin-right: 0px;
  }
  #logo{
    align-self: center;
    margin-left: 10px;
  }
  #text2{
    font-size: 20px;
    margin-left: 40%;
  }
  #about{
    padding: -5px;
   /* border: 3px solid rgb(31, 194, 26); */
   border-width: 3px;
  } 
  #weare{
    font-size: xx-large;
    position: absolute;
    top: 130%;
    left:30%;
  } 
  #ourevents{
    font-size: xx-large;
    position: absolute;
    top:295%;
    left:25%;
  }
  #ourteam{
    font-size: xx-large;
    position: absolute;
    top:485%;
    left:30%;
  }
  
  #cycle{
    height: 150px;
    width: 150px;
    margin-bottom: 30px;
    margin-top: 0px;
    margin-left: 30px;
  }
  #cyctext{
    font-size: 12px;
    margin-top: 2px;
  }
  .parallax{
    background-image: url(we_are.png);
    height: 90%;
  }
}
@media screen and (max-width: 450px) and (max-height: 700px){
  #weare{
    font-size: xx-large;
    position: absolute;
    top: 145%;
    left:30%;
    }
    #ourevents{
      font-size: xx-large;
      position: absolute;
      top:360%;
      left:22%;
    }
    #ourteam{
      font-size: xx-large;
      position: absolute;
      top:550%;
      left:28%;
    }
}
