<html>
<title>Blog-VTC</title>
<head>
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <meta charset="utf-8" name="viewport" content="width=device-width, initial scale=1, shrink-to-fit=no">
</head>
<body>
<div class="main">

  <div class="card">
  <div class="post">
    <a href="{{url_for('blog1')}}"><img class="post-image" src="https://images.unsplash.com/photo-1513506003901-1e6a229e2d15?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"/></a>
    
    <div class="post-content">
      <p class="post-header"> <a href="{{url_for('blog1')}}">Lorem Ipsum</a> </p>
      <p class="post-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, sunt asperiores quaerat doloremque commodi facere dolor. Velit pariatur, enim veniam!
      </p>
      <div class="author">
        <img src="../static/board_pic1.jpg" alt="" class="author-image">
        <div class="author-content">
          <p class="author-name">Foobar</p>
          <p class="date">Jun 20, 2020</p>
        </div>
      </div>
    </div>
    
  </div>
</div>



<div class="card">
  <div class="post">
    <img  style="float:right; margin-right: 15px;"class="post-image" src="https://images.unsplash.com/photo-1574103188526-4faaa363a358?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80"/>
    
    <div class="post-content">
      <p class="post-header"> <a href="{{url_for('blog2')}}">Lorem Ipsum</a> </p>
      <p class="post-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, sunt asperiores quaerat doloremque commodi facere dolor. Velit pariatur, enim veniam!
      </p>
      <div class="author">
        <img src="../static/board_pic1.jpg" alt="" class="author-image">
        <div class="author-content">
          <p class="author-name">Foobar</p>
          <p class="date">Jun 20, 2020</p>
        </div>
      </div>
    </div>
    
  </div>
</div>





<div class="card">
  <div class="post">
    <img class="post-image" src="https://images.unsplash.com/photo-1558435186-d31d126391fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80"/>
    
    <div class="post-content">
      <p class="post-header"> <a href="{{url_for('blog3')}}"> Lorem Ipsum</a> </p>
      <p class="post-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, sunt asperiores quaerat doloremque commodi facere dolor. Velit pariatur, enim veniam!
      </p>
      <div class="author">
        <img src="../static/board_pic1.jpg" alt="" class="author-image">
        <div class="author-content">
          <p class="author-name">Foobar</p>
          <p class="date">Jun 20, 2020</p>
        </div>
      </div>
    </div>
    
  </div>
</div>
</div>
</body>
</html>