<html lang="en">
    <head>
        <title>
            VIT TREKKING CLUB
        </title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.css">

        <link rel="stylesheet" href="{{url_for('static', filename='vtcwebcss.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='team_pg2.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='mycarousel.css')}}">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
        <meta charset="utf-8" name="viewport" content="width=device-width, initial scale=1, shrink-to-fit=no">
        <script src="{{url_for('static', filename='vtcwebsite.js')}}"></script>

      </head>
    <body style="overflow:auto">
        
        <div id="HOME" class="container-fluid bg" style="background: url(../static/default_back_bg.png) no-repeat;background-size: 100% 100%; height:700px;">
          <div class="row">
            <div class="col-sm-4">
              <img id="logo" src="../static/vtc_logo.png" align="left" height="90px" width="90px" style=" margin-top: 10px;">
            </div>
            <div class="col-sm-2"></div>
              <div class="col-sm-6" style="z-index: 1;"> <!--
                <ul class="nav d-flex flex-column flex-sm-row">
                  <li class="nav-item"><a class="nav-link" style="text-decoration: none; color:green; " href="#HOME">HOME</a></li>
                  <li class="nav-item"><a class="nav-link" style="text-decoration: none; color:green; " href=" ">BLOG</a></li>
                  <li class="nav-item"><a class="nav-link" style="text-decoration: none; color:green; " href="#ABOUT ">ABOUT</a></li>
                  <li class="nav-item"><a class="nav-link" style="text-decoration: none; color:green; " href=" ">EVENTS</a></li>
                  <li class="nav-item"><a class="nav-link" style="text-decoration: none; color:green; " href=" ">OUR BOARD</a></li>
                  <li class="nav-item"><a class="nav-link" style="text-decoration: none; color:green; " href=" ">CONTACT</a></li>
                  </ul> -->
              
          <nav class="navbar navbar-expand-sm bg-none navbar-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" style="position: absolute;top: -70px;right: 0%;">
              <span class="navbar-toggler-icon" style="border-color: green; background-color: green;"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" style="text-decoration: none; color:green; " href="#HOME">HOME</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" style="text-decoration: none; color:green; " href="/blog">BLOG</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" style="text-decoration: none; color:green; " href="#ABOUT">ABOUT</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" style="text-decoration: none; color:green; " href="#EVENTS">EVENTS</a>
                </li>   
                <li class="nav-item">
                  <a class="nav-link" style="text-decoration: none; color:green; " href="#BOARD">BOARD</a>
                </li>       
                <li class="nav-item">
                  <a class="nav-link" style="text-decoration: none; color:green; " href="#CONTACT">CONTACT</a>
                </li>   
              </ul>
            </div>  
            
          </nav> </div></div>
          
                <p id="text" style="color:white; opacity: 0;">VIT TREKKING CLUB</p>
                <div id="text2" style="color: white;margin-top: -20px;opacity:0;"> Nature. Zeal. Camaraderie. </div>

                <div><img src="../static/default_front_bg.png" width="100%" height="700px" style="position: absolute; top:0px; left: 0px; border: none;"></div>

        </div>
            
        <!-------------------------------------------------->
        
            <div class="parallax" style="text-align: center; background-image: url('../static/we_are.png');">
            <span id="weare" style="color: white;">WE ARE..</span></div>
           
            
            <center>
            <div id="ABOUT" class="container-fluid" style="min-height: 50%;">
              <div id="about" class="row" style="border: solid rgb(31, 194, 26); min-height: 50%;">
                <div class="col-sm-6">
                  <img id="cycle" src="../static/cycle2.png" >
                  </div>
        
                <div id="cyctext" class="col-sm-6" style="text-align: justify;">
                  .. a group of dedicated trekkers aimed to conquer the best possible trails. Our motto is to find like-minded individuals that share the same enthusiasm to connect with the environment around us in all its raw glory, by going on expeditions and treks. 
                  It’s not the mountain we conquer, but ourselves."
                  We are a team with adventurous zeal and our leaders are equipped with plentiful experience and knowledge that has led us to great heights, quite literally. Trekking is one of the most cherished introductions to the mountains and with us, it becomes much more awesome. With us, you can expect unique experiences to get you off the well-trodden trails.
                </div>
                
              </div>
            </div>
            </center>
            
            <!-------------------------------------------------->

            <div class="parallax" style="background-image: url(../static/our_events.png);background-color: rgba(0,0,0,0.7);"><span id="ourevents" style="color: white;">OUR EVENTS</span></div>
              
              <div class="carousel">
              <div id="EVENTS" class="container-fluid">
              <div id="car" class="carousel" data-ride="carousel" data-interval=5000>
              
              <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                  <div class="col-sm-6">
                      <img src="../static/cc2_1.jpeg" width=100%>
                      <div class="carousel-caption" >
                        <h3>2CC</h3>
                      </div>
                  </div>
                  <div class="col-sm-6">
                    <h2>2-CREDIT COURSE</h2>
                    Course name: VENTURE. EXPLORE. BACKPACK. (EXC1157)<br><br>
                    We are not just about organizing treks, but we also spread awareness that pertains to such treks. Our club members  are known  for their elaborate display of zest. Don't believe us? Check it out for yourself! Learn the proper way to climb, how to tie different types of knots, first aid, navigation techniques(without gps, of course! ) and much more. Throughout the course you'll receive first-hand updates on official treks and our events and much more. The best part? You earn 2 credits! Join us this Winter semester for an experience you won't regret.
                  </div>
                  </div>
                </div>
            
                <div class="carousel-item">
                  <div class="row">
                <div class="col-sm-6">
                    <img src="../static/cc2_2.jpeg" width=100%>
                    <div class="carousel-caption" >
                      <h3>2CC</h3>
                    </div>
                </div>
                <div class="col-sm-6">
                  <h2>2-CREDIT COURSE</h2>
                  Course name: VENTURE. EXPLORE. BACKPACK. (EXC1157)<br><br>
                  We are not just about organizing treks, but we also spread awareness that pertains to such treks. Our club members  are known  for their elaborate display of zest. Don't believe us? Check it out for yourself! Learn the proper way to climb, how to tie different types of knots, first aid, navigation techniques(without gps, of course! ) and much more. Throughout the course you'll receive first-hand updates on official treks and our events and much more. The best part? You earn 2 credits! Join us this Winter semester for an experience you won't regret.
                </div>
                </div>
              </div>
            
              <div class="carousel-item">
                <div class="row">
              <div class="col-sm-6">
                  <img src="../static/cc2_3.jpeg" width=100%>
                  <div class="carousel-caption" >
                    <h3>2CC</h3>
                  </div>
              </div>
              <div class="col-sm-6">
                <h2>2-CREDIT COURSE</h2>
                Course name: VENTURE. EXPLORE. BACKPACK. (EXC1157)<br><br>
                We are not just about organizing treks, but we also spread awareness that pertains to such treks. Our club members  are known  for their elaborate display of zest. Don't believe us? Check it out for yourself! Learn the proper way to climb, how to tie different types of knots, first aid, navigation techniques(without gps, of course! ) and much more. Throughout the course you'll receive first-hand updates on official treks and our events and much more. The best part? You earn 2 credits! Join us this Winter semester for an experience you won't regret.
              </div>
              </div>
            </div>
            
                <div class="carousel-item">
                    <div class="row">
                      <div class="col-sm-6">
                        <img src="../static/gravitas_diathlon_s.jpg" width=100%>
                        <div class="carousel-caption" >
                            <h3>GRAVITAS</h3>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <h2>GRAVITAS</h2>
                          <h3>DIATHLON</h3><br>
                          Be the master of leg day. Be the part of the race that has its own legacy.
                      </div>
                    </div>
                </div>
            
                <div class="carousel-item">
                    <div class="row">
                      <div class="col-sm-6">
                        <img src="../static/gravitas_drl.jpg" width=100% >
                        <div class="carousel-caption" >
                            <h3>GRAVITAS</h3>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <h2>GRAVITAS</h2>
                          <h3>DRL</h3><br>
                          Crawl, crouch, squat, do whatever it takes to avoid the nasty laser beams as the sirens, won't be so sympathetic on you. Finish before the stipulated time and lo and behold, we'll have a new winner then.
                      </div>
                    </div>
                </div>
            
                <div class="carousel-item">
                  <div class="row">
                    <div class="col-sm-6">
                      <img src="../static/gravitas_nbc.JPG" width=100% >
                      <div class="carousel-caption" >
                          <h3>GRAVITAS</h3>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <h2>GRAVITAS</h2>
                        <h3>NBC</h3><br>
                        Indiana Jones? Sherlock? Chacha Choudhary? Who you gonna turn to when the clues come for you?
                    </div>
                  </div>
                </div>
            
                <div class="carousel-item">
                  <div class="row">
                    <div class="col-sm-6">
                      <img src="../static/riviera_ag.jpg" width=100% >
                      <div class="carousel-caption" >
                          <h3>RIVIERA</h3>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <h2>RIVIERA</h2>
                        <h3>CRUSH THE CASTLE</h3><br>
                        Why be the king of virtual castles when you can be a king of your very own castle?Customize your castle to make it last longer. Destroy your opponents before they destroy you.
                    </div>
                  </div>
                </div>
            
                <div class="carousel-item">
                  <div class="row">
                    <div class="col-sm-6">
                      <img src="../static/riviera_dt.JPG" width=100% >
                      <div class="carousel-caption" >
                          <h3>RIVIERA</h3>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <h2>RIVIERA</h2>
                        <h3>DOUBLE TROUBLE</h3><br>
                        A tangy crossover between basketball and football,we assure you that this game will make your heatbeat go crazy. Stamina, energy and team strategy are all you need to nail this.
                    </div>
                  </div>
                </div>
            
                <div class="carousel-item">
                  <div class="row">
                    <div class="col-sm-6">
                      <img src="../static/riviera_nerf.JPG" width=100% >
                      <div class="carousel-caption" >
                          <h3>RIVIERA</h3>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <h2>RIVIERA</h2>
                        <h3>NERF WARS</h3><br>
                        Prepare for an all out 3v3 war. Choose from the various roles and game plays mapped out specifically to give a license to kill.
                    </div>
                  </div>
                </div>
            
              </div>
              
              <ul class="carousel-indicators">
                <li data-target="#car" data-slide-to="0" class="active"></li>
                <li data-target="#car" data-slide-to="1"></li>
                <li data-target="#car" data-slide-to="2"></li>
                <li data-target="#car" data-slide-to="3"></li>
                <li data-target="#car" data-slide-to="4"></li>
                <li data-target="#car" data-slide-to="5"></li>
                <li data-target="#car" data-slide-to="6"></li>
                <li data-target="#car" data-slide-to="7"></li>
                <li data-target="#car" data-slide-to="8"></li>
              </ul>
            
              <a class="carousel-control-prev" href="#car" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
              </a>
              <a class="carousel-control-next" href="#car" data-slide="next">
                <span class="carousel-control-next-icon"></span>
              </a>
            </div>
            
            </div>
        </div>

            <!-------------------------------------------------->
            
            <div class="parallax" style="background-image: url(../static/our_team.png); background-color: rgba(0,0,0,0.7);"}><span id="ourteam" style="color: white;">OUR TEAM</span></div> 

            <div id="BOARD">
              <div class="row tier1">
                
             <div class="container1 col-sm">
             </div>

             <div class="container1 col-sm">
                  <img src="../static/Garv.jpg" height="150" width="150" class="try">
               <div class="overlay1 ">
                 <div id="text13"> Garv Saini <br><br>Director of Secondary Execution(PR)</div>
               </div>
             </div>
             <div class="container1 col-sm">
              <img src="../static/nimi.jpg" height="150" width="150" class="try">
           <div class="overlay1">
             <div id="text12"> Aditya Singh  <br> <br><nobr>Director of</nobr> Primary Execution</div>
             </div>
         </div>
                <div class="container1 col-sm">
                 <img src="../static/Dhruv.JPG" height="150" width="150" class="try">
              <div class="overlay1">
                <div id="text11"> Dhruv Patel  <br> <br>  <nobr>Director of</nobr> Secondary Execution</div>
                </div>
            </div>

            <div class="container1 col-sm">
         </div>
            </div>
                
            <!-- XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX -->
            
            <div class="row tier2">
              
              <div class="container1 col-sm">
                <img src="../static/Ishika.jpg" height="150" width="150" class="try">
             <div class="overlay1">
               <div id="text36"> Ishika Khandelwal <br><br>  Director of Events</div>
             </div>
           </div>

           <div class="container1 col-sm">
            <img src="../static/vishesh.jpg" height="150" width="150" class="try">
         <div class="overlay1">
           <div id="text31"> Vishesh Kumar  <br><br> Chief Event Coordinator </div>
         </div>
       </div>

       <div class="container1 col-sm">
        <img src="../static/vishal.jpeg" height="150" width="150" class="try">
        <div class="overlay1">
       <div id="text34"> Vishal Thota <br><br> Chief Event Coordinator </div>
        </div>
        </div>  

        <div class="container1 col-sm">
          <img src="../static/Ajinkya.jpg" height="150" width="150" class="try">
       <div class="overlay1">
         <div id="text21"> Ajinkya Guhe <br><br>  Director of Operations and Relations</div>
       </div>
     </div>

     <div class="container1 col-sm">
      <img src="../static/Aryan.jpg" height="150" width="150" class="try">
   <div class="overlay1">
     <div id="text35"> Aryan Agarwal  <br><br>  Director of Finance</div>
   </div>
 </div>

            </div>
         
              <!-- xXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX -->
              
              <div class="row tier3">

                <div class="container1 col-sm">
                  <img src="../static/Rajarshi.jpg" height="150" width="150" class="try">
               <div class="overlay1">
                 <div id="text22"> Rajarshi Saha <br><br> Director of Creativity and Innovation </div>
               </div>
             </div>

             <div class="container1 col-sm">
              <img src="../static/nikhita.png" height="150" width="150" class="try">
           <div class="overlay1">
             <div id="text25"> Pedamallu Nikhita <br><br> Chief Designer </div>
           </div>
         </div>

         <div class="container1 col-sm">
          <img src="../static/chhavi.jpg" height="150" width="150" class="try">
       <div class="overlay1 ">
         <div id="text16"> Chhavi Dixit <br><br> Director of Media Outreach </div>
       </div>
     </div>

              <div class="container1 col-sm">
                <img src="../static/Shruthi.jpg" height="150" width="150" class="try">
            <div class="overlay1 ">
              <div id="text15"> Shruti Vinod <br><br>Chief of Publicity</div>
            </div>
          </div>

          <div class="container1 col-sm">
            <img src="../static/Anuj.jpg" height="150" width="150" class="try">
          <div class="overlay1">
          <div id="text32"> Anuj <br><br> Chief Outdoor Coordinator </div>
          </div>
          </div>
              </div>
          <!-- XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX -->
          
          <div class="row tier4">

            <div class="container1 col-sm">
              <img src="../static/Sorby.jpeg" height="150" width="150" class="try">
           <div class="overlay1">
             <div id="text24">  Saurabh Vaid <br><br> Director of Communications</div>
           </div>
         </div>


         <div class="container1 col-sm">
          <img src="../static/shreyas.jpg" height="150" width="150" class="try">
        <div class="overlay1 ">
        <div id="text26"> Shreyas Balasubramaniam <br><br> Chief Editor </div>
        </div>
        </div>

         <div class="container1 col-sm">
          <img src="../static/Shivangini.jpg" height="150" width="150" class="try">
       <div class="overlay1 ">
         <div id="text14"> Shivangini Pandey <br><br>Chief Blogger</div>
       </div>
     </div>

     <div class="container1 col-sm">
      <img src="../static/Ram_Kishore.jpg" height="150" width="150" class="try">
   <div class="overlay1">
     <div id="text23"> Ram Kishore  <br><br> Director of Photography and Media </div>
   </div>
 </div>
        

         <div class="container1 col-sm">
          <img src="../static/Deepna.jpg" height="150" width="150" class="try">
       <div class="overlay1">
         <div id="text33"> Deepna B <br><br>  Chief Photographer</div>
       </div>
     </div>

          </div>
                
                
                
                
              </div>
            </div> 
          </div>
            <!-------------------------------------------------->

            <div id="CONTACT" class="container-fluid" style="padding-bottom:20px;font-weight: bold;background-color: black;color: white;">

              <div style="font-size: 40px;font-family: Arial, Helvetica, sans-serif;"><center><b>CONTACT US</b></center></div> 

              <div style="margin: 8px;font-size: 20px"><a href="https://www.instagram.com/vittrekkingclub/?hl=en" target="blank" class="contact"><img src="../static/instagram-white.png" width="40px" height="40px"> : @vittrekkingclub</a></div>

              <div style="margin: 8px;font-size: 20px"><a href="https://www.facebook.com/VitTrekkingClub/" target="blank" class="contact"><img src="../static/facebook-white.png" width="40px" height="40px"> : @VitTrekkingClub</a><br></div>

              <div style="margin: 8px;font-size: 20px;"><a href="https://www.facebook.com/VitTrekkingClub/" target="blank" class="contact"><img src="../static/mail-white - Copy.png" width="40px" height="40px" > : trekkingclub@vit.ac.in </a><br></div>

              <!-- <div><a class="btn btn-social-icon btn-instagram" target="blank" href="https://www.instagram.com/vittrekkingclub/?hl=en"><i class="fa fa-instagram"></i></a> : <a target="blank" href="https://www.instagram.com/vittrekkingclub/?hl=en">@vittrekkingclub</a></div><br>
              <div><a class="btn btn-social-icon btn-facebook" target="blank" href="https://www.facebook.com/VitTrekkingClub/"><i class="fa fa-facebook"></i></a> : <a target="blank" href="https://www.facebook.com/VitTrekkingClub/">@VitTrekkingClub</a></div><br>

              <div><a class="btn btn-social-icon btn-google" target="blank" href="mailto:trekkingclub@vit.ac.in"><i class="fa fa-envelope fa-3x"></i></a> : <a target="blank" href="mailto:trekkingclub@vit.ac.in">trekkingclub@vit.ac.in</a></div>-->
            </div>


    </body>
</html>
